scales/postrge_initializator
[{"id":"dfb2ea31.7ec888","type":"http in","z":"d4c40780.7a7408","name":"","url":"/init","method":"get","swaggerDoc":"","x":136,"y":105,"wires":[["f5c7f613.b7a3c8"]]},{"id":"644761b9.4cd3f","type":"template","z":"d4c40780.7a7408","name":"Create Base","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CREATE DATABASE atom2\n  WITH OWNER = atom2\n       ENCODING = 'UTF8'\n       TABLESPACE = pg_default\n       LC_COLLATE = 'Russian_Russia.1251'\n       LC_CTYPE = 'Russian_Russia.1251'\n       CONNECTION LIMIT = 5;\n","x":827,"y":21,"wires":[["1fa4872c.bbcdf9"]]},{"id":"1fa4872c.bbcdf9","type":"postgres","z":"d4c40780.7a7408","postgresdb":"727853af.2cc3bc","name":"atom2/postgress","output":true,"outputs":1,"x":1010,"y":20,"wires":[["68b0ef1.5a3151"]]},{"id":"68b0ef1.5a3151","type":"template","z":"d4c40780.7a7408","name":"Create Table","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CREATE TABLE scales\n(\n  id bigserial NOT NULL,\n  scale text NOT NULL,\n  timeevent timestamp NOT NULL,\n  weight integer NOT NULL,\n  source character(60),\n  CONSTRAINT scales_pkey PRIMARY KEY (id)\n)\nWITH (\n  OIDS=FALSE\n);\nALTER TABLE scales\n  OWNER TO atom2;\n","x":913,"y":109,"wires":[["812ee4c6.74c7c8"]]},{"id":"812ee4c6.74c7c8","type":"postgres","z":"d4c40780.7a7408","postgresdb":"f5106504.939a58","name":"atom2/atom2","output":true,"outputs":1,"x":1068,"y":109,"wires":[["2f015ea2.e6e972"]]},{"id":"2f015ea2.e6e972","type":"http response","z":"d4c40780.7a7408","name":"","x":1204.5,"y":109,"wires":[]},{"id":"bafa812c.09fcc","type":"comment","z":"d4c40780.7a7408","name":"Init","info":"","x":116,"y":62,"wires":[]},{"id":"f5c7f613.b7a3c8","type":"template","z":"d4c40780.7a7408","name":"check base","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select count(*) from pg_catalog.pg_database where datname = 'atom2';","x":295.5,"y":104,"wires":[["90e1ed2c.c5e9f"]]},{"id":"90e1ed2c.c5e9f","type":"postgres","z":"d4c40780.7a7408","postgresdb":"4259c920.8f14c8","name":"atom2/postgres","output":true,"outputs":1,"x":467.5,"y":104,"wires":[["39656c48.74a6c4","8fe4ee7e.e874"]]},{"id":"39656c48.74a6c4","type":"switch","z":"d4c40780.7a7408","name":"","property":"payload[0].count","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":2,"x":620.5,"y":103,"wires":[["644761b9.4cd3f"],["68b0ef1.5a3151"]]},{"id":"8fe4ee7e.e874","type":"debug","z":"d4c40780.7a7408","name":"","active":false,"console":"false","complete":"false","x":637.5,"y":177,"wires":[]},{"id":"727853af.2cc3bc","type":"postgresdb","z":"","hostname":"10.3.4.251","port":"5432","db":"postgres","ssl":false},{"id":"f5106504.939a58","type":"postgresdb","z":"","hostname":"10.3.4.251","port":"5432","db":"atom2","ssl":false},{"id":"4259c920.8f14c8","type":"postgresdb","z":"","hostname":"10.3.4.251","port":"5432","db":"postgres","ssl":false}]
