scales/smartscale
[{"id":"3035850.63f447c","type":"postgres","z":"d4c40780.7a7408","postgresdb":"f5106504.939a58","name":"atom2/atom2","output":true,"outputs":1,"x":630,"y":500,"wires":[["e869991e.a90038"]]},{"id":"68582593.f64e7c","type":"inject","z":"d4c40780.7a7408","name":"","topic":"","payload":"","payloadType":"date","repeat":"600","crontab":"","once":false,"x":90,"y":500,"wires":[["c07b803c.b836d"]]},{"id":"c07b803c.b836d","type":"function","z":"d4c40780.7a7408","name":"set params","func":"var twentyMinutesLater = new Date();\ntwentyMinutesLater.setMinutes(twentyMinutesLater.getMinutes() - 20);\n\nmsg.queryParameters = msg.queryParameters || {};\nmsg.queryParameters.timeevent = twentyMinutesLater;\nmsg.queryParameters.scale = 'su_avto_80t';\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":500,"wires":[["51905bd7.4a66d4"]]},{"id":"9288b89b.647878","type":"http in","z":"d4c40780.7a7408","name":"Fake weights","url":"/FW","method":"get","swaggerDoc":"","x":90,"y":560,"wires":[["c07b803c.b836d"]]},{"id":"e869991e.a90038","type":"function","z":"d4c40780.7a7408","name":"","func":"var jData = msg.payload;\nvar jCs = {\n    'source':'atom',\n    'organizationName':'Супрунівська дільниця',\n    'organizationID':'11',\n    'scalesID':'su_avto_80t',\n    'typeOfScales':'IoT'\n}\nvar jVs = {\n    'startCheck':false,\n    'fake':true,\n    'weights':[],\n    'pA':0,\n    'pB':0,\n    'maxWeight':0,\n    'accWeight':0,\n    'documentID':''\n};\n\njData.forEach(function(item, i, arr) {\n    if (item.weight !== 0 && !jVs.startCheck){\n         jVs.startCheck = true;\n         jVs.pA = {'id':item.id,'time':item.timeevent.toISOString()};\n     }\n    if((jVs.startCheck)&&(item.weight !== 0)){\n        if(item.source.indexOf(jCs.source)!==0){\n            jVs.fake       = false;\n            jVs.documentID = item.source;\n            jVs.accWeight  = item.weight;\n        }\n        if (item.weight>jVs.maxWeight){\n            jVs.maxWeight=item.weight;\n        }\n    }else if(jVs.startCheck && item.weight === 0){\n        jVs.pB = {'id':item.id,'time':item.timeevent.toISOString()};\n        jVs.weights.push({\n            'IDStart':jVs.pA.id,\n            'DateStart':jVs.pA.time,\n            'IDEnd':jVs.pB.id,\n            'DateEnd':jVs.pB.time,\n            'OrganizationName':jCs.organizationName,\n            'OrganizationID':jCs.organizationID,\n            'ScalesID':jCs.scalesID,\n            'TypeOfScales':jCs.typeOfScales,\n            'maxWeight':jVs.maxWeight,\n            'accWeight':jVs.accWeight,\n            'Fake':jVs.fake,\n            'DocumentID':jVs.documentID\n        });\n        \n        jVs.startCheck = false,    \n        jVs.pA = 0;\n        jVs.pB = 0;\n        jVs.maxWeight = 0;\n        jVs.accWeight = 0;        \n        jVs.documentID = '';\n        jVs.fake = true;\n        \n    }\n });\n \nmsg.payload = {'Data':jVs.weights};\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":500,"wires":[["7fbe4e5e.a6be","78b06020.6bc6b"]]},{"id":"7fbe4e5e.a6be","type":"http request","z":"d4c40780.7a7408","name":"","method":"POST","ret":"txt","url":"http://10.1.132.171/preBI/hs/api/v1/weights?token=5af8e4eb-c54a-40ab-8755-b6e154d9a7d1&encoding=utf8","tls":"","x":930,"y":500,"wires":[["78b06020.6bc6b"]]},{"id":"51905bd7.4a66d4","type":"template","z":"d4c40780.7a7408","name":"select top 1500","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT \n*\nFROM \n  public.scales\nWHERE Scale = $scale\nAND timeevent > $timeevent\nORDER BY\nID ASC\nLIMIT 1500;","x":460,"y":500,"wires":[["3035850.63f447c"]]},{"id":"78b06020.6bc6b","type":"debug","z":"d4c40780.7a7408","name":"","active":false,"console":"true","complete":"payload","x":1110,"y":500,"wires":[]},{"id":"f5106504.939a58","type":"postgresdb","z":"","hostname":"10.3.4.251","port":"5432","db":"atom2","ssl":false}]
