SmartScale/templates/kernel/su/metler_toledo_8350-su_avto_80t
[{"id":"d4658a9b.2be948","type":"inject","z":"bb301330.e519d","name":"init","topic":"","payload":"init","payloadType":"str","repeat":"","crontab":"","once":true,"x":110,"y":60,"wires":[["9ca0f04e.3a79"]]},{"id":"9ca0f04e.3a79","type":"function","z":"bb301330.e519d","name":"init flow vars","func":"flow.set('smartScaleURL','http://10.1.132.171/preBI/hs/api/v1/weights?token=5af8e4eb-c54a-40ab-8755-b6e154d9a7d1&encoding=utf8');\nflow.set('smartScaleMethod','POST');\nflow.set('organizationName','Супрунівська дільниця');\nflow.set('organnizationID','11');\nflow.set('typeOfScale','IoT');\nflow.set('source','atom');\nflow.set('scale','su_avto_80t')\nflow.set('dblogin','atom2');\nflow.set('dbpassword','123');\nflow.set('inject',String.fromCharCode(2)+\"2UB\");\nflow.set('log',1);\nflow.set('socketport','4001');\nflow.set('ip','10.3.4.213');\nflow.set('parser',function(v){\n    \n    v = v.replace('2UB','');\n    v = v.replace(String.fromCharCode(2),'');\n    v = v.replace(String.fromCharCode(3),'');\n    v = Number(v);\n    \n    return v;\n});","outputs":1,"noerr":0,"x":270,"y":60,"wires":[["d283da0c.8b9318"]]},{"id":"d283da0c.8b9318","type":"debug","z":"bb301330.e519d","name":"","active":false,"console":"false","complete":"payload","x":470,"y":60,"wires":[]}]
