SmartScale/information.flow
[{"id":"cf257ef.45f008","type":"tab","label":"Information"},{"id":"c50ba29.e85356","type":"http in","z":"cf257ef.45f008","name":"","url":"/info","method":"get","swaggerDoc":"","x":134.5,"y":53,"wires":[["5da0a3f1.1117cc"]]},{"id":"799244a5.f4920c","type":"http response","z":"cf257ef.45f008","name":"","x":282.5,"y":188,"wires":[]},{"id":"5da0a3f1.1117cc","type":"function","z":"cf257ef.45f008","name":"","func":"msg.payload = {\n    configuration: 'SmartScales',\n    configurationVersion: '1.0.0'\n};\nreturn msg;","outputs":1,"noerr":0,"x":185.5,"y":103,"wires":[["799244a5.f4920c"]]}]
