SmartScale/pq_sql.flow
[{"id":"ab52aa48.6042d8","type":"http in","z":"838f153c.644448","name":"","url":"/init","method":"get","swaggerDoc":"","x":81,"y":152,"wires":[["bdc6b424.7471a8"]]},{"id":"f563818e.908bb","type":"template","z":"838f153c.644448","name":"Create Base","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CREATE DATABASE atom2\n  WITH OWNER = atom2\n       ENCODING = 'UTF8'\n       TABLESPACE = pg_default\n       LC_COLLATE = 'Russian_Russia.1251'\n       LC_CTYPE = 'Russian_Russia.1251'\n       CONNECTION LIMIT = 5;\n","x":772,"y":68,"wires":[["7dc767a5.32a588"]]},{"id":"7dc767a5.32a588","type":"postgres","z":"838f153c.644448","postgresdb":"7dbeb3a7.a0191c","name":"atom2/postgress","output":true,"outputs":1,"x":955,"y":67,"wires":[["9a9765e8.0c4218"]]},{"id":"9a9765e8.0c4218","type":"template","z":"838f153c.644448","name":"Create Table","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CREATE TABLE scales\n(\n  id bigserial NOT NULL,\n  scale text NOT NULL,\n  timeevent timestamp NOT NULL,\n  weight integer NOT NULL,\n  source character(60),\n  CONSTRAINT scales_pkey PRIMARY KEY (id)\n)\nWITH (\n  OIDS=FALSE\n);\nALTER TABLE scales\n  OWNER TO atom2;\n","x":858,"y":156,"wires":[["a7b076a5.a7f1d8"]]},{"id":"a7b076a5.a7f1d8","type":"postgres","z":"838f153c.644448","postgresdb":"19a8fa09.a00836","name":"atom2/atom2","output":true,"outputs":1,"x":1013,"y":156,"wires":[["8f3d0f06.16e6"]]},{"id":"8f3d0f06.16e6","type":"http response","z":"838f153c.644448","name":"","x":1149.5,"y":156,"wires":[]},{"id":"6024bfda.834df","type":"comment","z":"838f153c.644448","name":"Init","info":"","x":61,"y":109,"wires":[]},{"id":"bdc6b424.7471a8","type":"template","z":"838f153c.644448","name":"check base","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"select count(*) from pg_catalog.pg_database where datname = 'atom2';","x":240.5,"y":151,"wires":[["1ca45586.2c23fa"]]},{"id":"1ca45586.2c23fa","type":"postgres","z":"838f153c.644448","postgresdb":"7dbeb3a7.a0191c","name":"atom2/postgres","output":true,"outputs":1,"x":412.5,"y":151,"wires":[["cac6c2a0.acddf","a6c7e00e.45c2b"]]},{"id":"cac6c2a0.acddf","type":"switch","z":"838f153c.644448","name":"","property":"payload[0].count","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","outputs":2,"x":565.5,"y":150,"wires":[["f563818e.908bb"],["9a9765e8.0c4218"]]},{"id":"a6c7e00e.45c2b","type":"debug","z":"838f153c.644448","name":"","active":false,"console":"false","complete":"false","x":582.5,"y":224,"wires":[]},{"id":"d38f3bf1.174028","type":"http in","z":"838f153c.644448","name":"","url":"/select","method":"get","swaggerDoc":"","x":85,"y":327,"wires":[["532403bf.50660c"]]},{"id":"532403bf.50660c","type":"template","z":"838f153c.644448","name":"select top 1000","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT \n*\nFROM \n  public.scales\nORDER BY\n  ID DESC\n LIMIT 1000\n  \n  ","x":325,"y":327,"wires":[["5926cf0.e617e3"]]},{"id":"5926cf0.e617e3","type":"postgres","z":"838f153c.644448","postgresdb":"19a8fa09.a00836","name":"atom2/atom2","output":true,"outputs":1,"x":595,"y":307,"wires":[["2056751f.781b2a"]]},{"id":"2056751f.781b2a","type":"http response","z":"838f153c.644448","name":"","x":735,"y":307,"wires":[]},{"id":"6327acf9.55e794","type":"http in","z":"838f153c.644448","name":"","url":"/count","method":"get","swaggerDoc":"","x":85,"y":367,"wires":[["e7d63cbd.0aef6"]]},{"id":"e7d63cbd.0aef6","type":"template","z":"838f153c.644448","name":"select count","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT \nCOUNT(*)\nFROM \n  public.scales;\n","x":315,"y":367,"wires":[["5926cf0.e617e3"]]},{"id":"5981302f.7f823","type":"comment","z":"838f153c.644448","name":"API","info":"","x":55,"y":227,"wires":[]},{"id":"c0a967e2.cc8c98","type":"http in","z":"838f153c.644448","name":"","url":"/drop","method":"get","swaggerDoc":"","x":76,"y":446,"wires":[["9313e2b3.4ea0c"]]},{"id":"9313e2b3.4ea0c","type":"template","z":"838f153c.644448","name":"drop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DROP TABLE public.scales;","x":236,"y":446,"wires":[["f6fbfb78.059a68"]]},{"id":"f6fbfb78.059a68","type":"postgres","z":"838f153c.644448","postgresdb":"19a8fa09.a00836","name":"atom2/atom2","output":true,"outputs":1,"x":376,"y":446,"wires":[["7e3b8fef.5ba3d"]]},{"id":"7e3b8fef.5ba3d","type":"http response","z":"838f153c.644448","name":"","x":516,"y":446,"wires":[]},{"id":"1d1fc8d1.e4ed07","type":"http in","z":"838f153c.644448","name":"","url":"/selectweight","method":"get","swaggerDoc":"","x":105,"y":287,"wires":[["1a813308.e2c54d"]]},{"id":"1a813308.e2c54d","type":"template","z":"838f153c.644448","name":"select top 1000 weight<>0","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT \n*\nFROM \n  public.scales\n WHERE \n weight<>0\nORDER BY\n  ID DESC\n LIMIT 100\n \n  \n  ","x":365,"y":287,"wires":[["5926cf0.e617e3"]]},{"id":"fc230407.e37a18","type":"http in","z":"838f153c.644448","name":"","url":"/selectbeetwen","method":"get","swaggerDoc":"","x":105,"y":407,"wires":[["633df1b7.8b4bd"]]},{"id":"42e67341.d6f0fc","type":"template","z":"838f153c.644448","name":"select top 1000","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT \n*\nFROM \n  public.scales\n WHERE scale = $scale\n AND ID >= $IDStart AND ID <=$IDEnd\nORDER BY\n  ID DESC\n LIMIT 1000\n  \n  ","x":445,"y":407,"wires":[["5926cf0.e617e3"]]},{"id":"633df1b7.8b4bd","type":"function","z":"838f153c.644448","name":"","func":"msg.queryParameters = msg.queryParameters || {};\nmsg.queryParameters.scale       = String(msg.req.query.scale);\nmsg.queryParameters.IDStart     = Number(msg.req.query.IDStart);\nmsg.queryParameters.IDEnd       = Number(msg.req.query.IDEnd);\n// msg.queryParameters.scale       = 'su_avto_80t';\n// msg.queryParameters.IDStart     = 3174290;\n// msg.queryParameters.IDEnd       = 3174833;\n\nmsg.payload = msg.req.query;\nreturn msg;","outputs":1,"noerr":0,"x":285,"y":407,"wires":[["42e67341.d6f0fc"]]},{"id":"7dbeb3a7.a0191c","type":"postgresdb","z":"","hostname":"10.3.18.251","port":"5432","db":"postgres","ssl":false},{"id":"19a8fa09.a00836","type":"postgresdb","z":"","hostname":"10.3.18.251","port":"5432","db":"atom2","ssl":false}]
