kernel/mirgorod_gateway.json
[{"id":"dfd8437e.d5dd6","type":"tab","label":"RFID UHF"},{"id":"6683cb2c.6892d4","type":"tab","label":"currentTags"},{"id":"41ec8791.9a4d68","type":"tab","label":"Postgres"},{"id":"5ced33ba.3d01cc","type":"princip-llrp-device","z":"","ipAddress":"10.3.5.214","port":"5084","log":false},{"id":"eb96ba0d.418938","type":"princip-llrp-device","z":"","ipAddress":"10.3.5.212","port":"5084","log":false},{"id":"831e3e0e.9272","type":"princip-llrp-device","z":"","ipAddress":"10.3.5.210","port":"5084","log":false},{"id":"6d410e8.b231bf","type":"princip-llrp-device","z":"","ipAddress":"10.3.5.217","port":"5084","log":false},{"id":"bf8b2c7a.7c8d4","type":"princip-llrp-device","z":"","ipAddress":"10.3.5.211","port":"5084","log":false},{"id":"845cac58.ca9db","type":"princip-llrp-device","z":"","ipAddress":"10.3.5.216","port":"5084","log":false},{"id":"9642ec58.5ecae","type":"princip-llrp-device","z":"","ipAddress":"10.3.5.215","port":"5084","log":false},{"id":"54fbc0de.86b5a","type":"postgresdb","z":"","hostname":"10.3.5.253","port":"5432","db":"rfid_log","ssl":false},{"id":"134f45fd.f80eba","type":"http in","z":"dfd8437e.d5dd6","name":"","url":"/setAccessTable","method":"post","swaggerDoc":"","x":140,"y":140,"wires":[["7cc86607.973598"]]},{"id":"7cc86607.973598","type":"function","z":"dfd8437e.d5dd6","name":"set Access Table","func":"// var accessTable = [exampleAcess];\n// var exampleAcess = {\n//     \"pointID\":\"35235325325235\"\n//     \"ip\":\"10.3.5.210\",\n//     \"antennaID\":\"1\",\n//     \"direction\":0,\n//     \"tags\":[\"124124\",\"3525235\"],\n//     \"gpo\":['80','00'],\n//      \"marked\":false\n// }\n\nflow.set('accessTable',msg.payload);\nflow.set('accessTableUpdate',new Date());\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":140,"wires":[["1152f6d1.83b399","b6313aeb.49d618"]]},{"id":"1152f6d1.83b399","type":"http response","z":"dfd8437e.d5dd6","name":"","x":550,"y":140,"wires":[]},{"id":"43d04866.7aa718","type":"inject","z":"dfd8437e.d5dd6","name":"init","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":true,"x":110,"y":40,"wires":[["84312661.37c4c8"]]},{"id":"84312661.37c4c8","type":"function","z":"dfd8437e.d5dd6","name":"LLRP conf","func":"//040300000012000001dd0000db0007000280 - 02 GPO index, 80 or 00 - on/off\nflow.set('sendGPO','040300000012000001dd0000db000700');\nflow.set('accessTable',[]);\nflow.set('getReaderConfig','0402000000110000012e00000900000000');\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":40,"wires":[[]]},{"id":"ccd8a0d7.804d3","type":"function","z":"dfd8437e.d5dd6","name":"get row from Access Table","func":"var aT = flow.get('accessTable');\nvar aTDate = flow.get('accessTableUpdate');\nvar nowDate = Date();\nvar diff = 5000000;\n\nmsg.do = true;\nif (nowDate-aTDate > diff){\n    msg.do = false;\n}else{\nfor (var i = 0; i < aT.length; i++){\n    if ((aT[i].ip === msg.ip)&&Number(aT[i].antenna)===msg.tag.antennaID){\n        msg.accessTable = aT[i];\n        break;\n     }\n}\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":240,"wires":[["515bb1b8.2816c","6bf18bde.805374"]]},{"id":"baef0ed4.9094b","type":"function","z":"dfd8437e.d5dd6","name":"get IP","func":"\nmsg.tagID = msg.payload.data.tagID;\nmsg.tag   = msg.payload.data;\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":240,"wires":[["ccd8a0d7.804d3","75e83f43.c7d8e"]]},{"id":"f16e0bfc.139188","type":"function","z":"dfd8437e.d5dd6","name":"send GPO if Access","func":"var sendGPOtemplate = flow.get('sendGPO');\n\nvar cmd = []; \nif (msg.accessTable){\n    var tags = msg.accessTable.tags;\n    \n    for (var i = 0; i < tags.length; i++){\n        if (tags[i] === msg.tagID){\n           \n            for(var j = 0; j < msg.accessTable.gpo.length; j++){\n                cmd.push({\n                    \"payload\":new Buffer(sendGPOtemplate+msg.accessTable.gpo[j],'hex'),\n                    \"ip\":msg.ip\n                    \n                });\n                \n            } \n            break;\n        } \n    }\n}\n\nreturn cmd;","outputs":"4","noerr":0,"x":1020,"y":240,"wires":[["11be815a.d224ff","6bf18bde.805374"],["eb7e6adf.2fa178"],["14b34776.4d0599"],["8bb9a6b3.4362e8"]]},{"id":"7351c934.f2b1e8","type":"princip-llrp-out","z":"dfd8437e.d5dd6","name":"217","device":"6d410e8.b231bf","x":90,"y":260,"wires":[["ab7d397b.537eb8"]]},{"id":"d4e0cbed.737498","type":"princip-llrp-in","z":"dfd8437e.d5dd6","name":"217","device":"6d410e8.b231bf","x":1290,"y":20,"wires":[]},{"id":"ebc65731.310448","type":"function","z":"dfd8437e.d5dd6","name":"send getReaderConfig LLRP message","func":"msg.payload = new Buffer(flow.get('getReaderConfig'),'hex');\nmsg.ip = msg.req.query.rfidID;\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":600,"wires":[["83d69bc.317aa68","11be815a.d224ff"]]},{"id":"d4302e72.3cca5","type":"switch","z":"dfd8437e.d5dd6","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"getAccessReport","vt":"str"},{"t":"eq","v":"getReaderConfig","vt":"str"}],"checkall":"true","outputs":2,"x":330,"y":260,"wires":[["baef0ed4.9094b"],["eb290dee.5947d"]]},{"id":"4972c2c0.4dfbac","type":"http in","z":"dfd8437e.d5dd6","name":"","url":"/getReaderConfig","method":"get","swaggerDoc":"","x":120,"y":600,"wires":[["ebc65731.310448"]]},{"id":"df361b18.9aef28","type":"function","z":"dfd8437e.d5dd6","name":"Waiting for LLRP response","func":"msg.statusCode = 200;\nmsg.payload = flow.get(msg.ip);\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":600,"wires":[["c0b30634.34e328","2d0928cc.2aded8"]]},{"id":"c0b30634.34e328","type":"http response","z":"dfd8437e.d5dd6","name":"","x":1070,"y":600,"wires":[]},{"id":"eb290dee.5947d","type":"function","z":"dfd8437e.d5dd6","name":"get Reader config","func":"flow.set(msg.ip,msg.payload.data);\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":320,"wires":[[]]},{"id":"83d69bc.317aa68","type":"delay","z":"dfd8437e.d5dd6","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":670,"y":600,"wires":[["df361b18.9aef28"]]},{"id":"67af1f8a.a0251","type":"http in","z":"dfd8437e.d5dd6","name":"","url":"/setDefaultTable","method":"post","swaggerDoc":"","x":140,"y":180,"wires":[["c77b71d1.d72e8"]]},{"id":"c77b71d1.d72e8","type":"function","z":"dfd8437e.d5dd6","name":"set default Table","func":"// var accessTable = [];\n// var exampleAcess = {\n//     \"ip\":\"10.3.5.210\",\n//     \"port\":5084,\n//     \"gpo\":['0180','0200']\n// }\n\nflow.set('accessTable',msg.payload);\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":180,"wires":[["925fd8ae.5b7e48"]]},{"id":"925fd8ae.5b7e48","type":"http response","z":"dfd8437e.d5dd6","name":"","x":550,"y":180,"wires":[]},{"id":"c3f7ede5.f3615","type":"link in","z":"6683cb2c.6892d4","name":"","links":["2b4ac59.f7acf3a","75e83f43.c7d8e"],"x":35,"y":40,"wires":[["20076316.630ffc"]]},{"id":"20076316.630ffc","type":"function","z":"6683cb2c.6892d4","name":"","func":"var ip_name = msg.ip.replace(/\\./g,\"_\");\nvar rfidTags = flow.get(ip_name);\nvar allTags = flow.get('allTags');\n\nif (!allTags){\n    allTags = [];\n}\n\nif(!(rfidTags)){\n    rfidTags = [];\n}\n\nvar tag = {\n    \"ip_name\":ip_name,\n    \"ip\":msg.ip,\n    \"antennaID\":msg.tag.antennaID,\n    \"tagID\":msg.tag.tagID,\n    \"timestamp\":new Date(),\n    \"peakRSSI\":msg.tag.PeakRSSI\n}\n\nfindedAllTags = false;\nfor (var i = 0; i < allTags.length; i++){\n    if((allTags[i].tagID === tag.tagID) && ((allTags[i].antennaID === tag.antennaID))){\n         findedAllTags = true; \n         allTags[i] = tag;\n    }\n}\nif(!findedAllTags){\n    allTags.push(tag);\n}\n\nfinded = false;\nif (rfidTags){\n    for (var i = 0; i < rfidTags.length; i++){\n        if((rfidTags[i].tagID === tag.tagID) && ((rfidTags[i].antennaID === tag.antennaID))){\n         finded = true; \n         rfidTags[i] = tag;\n        }\n    }\n}\n\nif (!finded){\n    rfidTags.push(tag);   \n}\n\nflow.set(ip_name,rfidTags);\nflow.set(\"allTags\",allTags);\nmsg.payload = tag;\nmsg.ip_name = ip_name;\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":40,"wires":[["d4154f9f.a6e8b","1f65a039.cbe4f"]]},{"id":"75e83f43.c7d8e","type":"link out","z":"dfd8437e.d5dd6","name":"","links":["c3f7ede5.f3615"],"x":595,"y":280,"wires":[]},{"id":"ab7d397b.537eb8","type":"function","z":"dfd8437e.d5dd6","name":"set IP","func":"msg.ip = \"10.3.5.217\";\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":260,"wires":[["d4302e72.3cca5"]]},{"id":"11be815a.d224ff","type":"switch","z":"dfd8437e.d5dd6","name":"","property":"ip","propertyType":"msg","rules":[{"t":"eq","v":"10.3.5.217","vt":"str"},{"t":"eq","v":"10.3.5.216","vt":"str"},{"t":"eq","v":"10.3.5.215","vt":"str"},{"t":"eq","v":"10.3.5.214","vt":"str"},{"t":"eq","v":"10.3.5.212","vt":"str"},{"t":"eq","v":"10.3.5.211","vt":"str"},{"t":"eq","v":"10.3.5.210","vt":"str"}],"checkall":"true","outputs":7,"x":1150,"y":140,"wires":[["d4e0cbed.737498"],["e4efa51e.d2eee8"],["7d5131ee.62729"],["f61e8336.d1ccb"],["4d642e64.de6e2"],["e489e29c.f870b"],["4611b120.b7a56"]]},{"id":"9698c168.51108","type":"princip-llrp-out","z":"dfd8437e.d5dd6","name":"216","device":"845cac58.ca9db","x":90,"y":300,"wires":[["e02b1bbe.845628"]]},{"id":"e02b1bbe.845628","type":"function","z":"dfd8437e.d5dd6","name":"set IP","func":"msg.ip = \"10.3.5.216\";\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":300,"wires":[["d4302e72.3cca5"]]},{"id":"4eefc7fd.cbc5d8","type":"princip-llrp-out","z":"dfd8437e.d5dd6","name":"215","device":"9642ec58.5ecae","x":90,"y":340,"wires":[["55b63b42.c45444"]]},{"id":"55b63b42.c45444","type":"function","z":"dfd8437e.d5dd6","name":"set IP","func":"msg.ip = \"10.3.5.215\";\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":340,"wires":[["d4302e72.3cca5"]]},{"id":"9b3d6aca.bcb108","type":"princip-llrp-out","z":"dfd8437e.d5dd6","name":"214","device":"5ced33ba.3d01cc","x":90,"y":380,"wires":[["755c471a.b03528"]]},{"id":"755c471a.b03528","type":"function","z":"dfd8437e.d5dd6","name":"set IP","func":"msg.ip = \"10.3.5.214\";\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":380,"wires":[["d4302e72.3cca5"]]},{"id":"66caa6cf.2790b8","type":"princip-llrp-out","z":"dfd8437e.d5dd6","name":"212","device":"eb96ba0d.418938","x":90,"y":420,"wires":[["8712ab2c.bb3798"]]},{"id":"8712ab2c.bb3798","type":"function","z":"dfd8437e.d5dd6","name":"set IP","func":"msg.ip = \"10.3.5.212\";\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":420,"wires":[["d4302e72.3cca5"]]},{"id":"cc6d7ae6.52db28","type":"princip-llrp-out","z":"dfd8437e.d5dd6","name":"211","device":"bf8b2c7a.7c8d4","x":90,"y":460,"wires":[["cbfac395.bfe3e"]]},{"id":"cbfac395.bfe3e","type":"function","z":"dfd8437e.d5dd6","name":"set IP","func":"msg.ip = \"10.3.5.211\";\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":460,"wires":[["d4302e72.3cca5"]]},{"id":"a69d4cbf.49ad1","type":"princip-llrp-out","z":"dfd8437e.d5dd6","name":"210","device":"831e3e0e.9272","x":90,"y":500,"wires":[["61ab5f07.6062f"]]},{"id":"61ab5f07.6062f","type":"function","z":"dfd8437e.d5dd6","name":"set IP","func":"msg.ip = \"10.3.5.210\";\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":500,"wires":[["d4302e72.3cca5"]]},{"id":"e4efa51e.d2eee8","type":"princip-llrp-in","z":"dfd8437e.d5dd6","name":"216","device":"845cac58.ca9db","x":1290,"y":60,"wires":[]},{"id":"7d5131ee.62729","type":"princip-llrp-in","z":"dfd8437e.d5dd6","name":"215","device":"9642ec58.5ecae","x":1290,"y":100,"wires":[]},{"id":"f61e8336.d1ccb","type":"princip-llrp-in","z":"dfd8437e.d5dd6","name":"214","device":"5ced33ba.3d01cc","x":1290,"y":140,"wires":[]},{"id":"4d642e64.de6e2","type":"princip-llrp-in","z":"dfd8437e.d5dd6","name":"212","device":"eb96ba0d.418938","x":1290,"y":180,"wires":[]},{"id":"e489e29c.f870b","type":"princip-llrp-in","z":"dfd8437e.d5dd6","name":"211","device":"bf8b2c7a.7c8d4","x":1290,"y":220,"wires":[]},{"id":"4611b120.b7a56","type":"princip-llrp-in","z":"dfd8437e.d5dd6","name":"210","device":"831e3e0e.9272","x":1290,"y":260,"wires":[]},{"id":"6831b60f.bac8a8","type":"princip-llrp-in","z":"dfd8437e.d5dd6","name":"217","device":"6d410e8.b231bf","x":1550,"y":20,"wires":[]},{"id":"eb7e6adf.2fa178","type":"switch","z":"dfd8437e.d5dd6","name":"","property":"ip","propertyType":"msg","rules":[{"t":"eq","v":"10.3.5.217","vt":"str"},{"t":"eq","v":"10.3.5.216","vt":"str"},{"t":"eq","v":"10.3.5.215","vt":"str"},{"t":"eq","v":"10.3.5.214","vt":"str"},{"t":"eq","v":"10.3.5.212","vt":"str"},{"t":"eq","v":"10.3.5.211","vt":"str"},{"t":"eq","v":"10.3.5.210","vt":"str"}],"checkall":"true","outputs":7,"x":1410,"y":140,"wires":[["6831b60f.bac8a8"],["8e09b1f5.416bd"],["68d03875.2231f8"],["15cf8a7b.3d4ef6"],["1e739edb.41fc01"],["8362aa8a.29f2c8"],["72566fe0.d91f3"]]},{"id":"8e09b1f5.416bd","type":"princip-llrp-in","z":"dfd8437e.d5dd6","name":"216","device":"845cac58.ca9db","x":1550,"y":60,"wires":[]},{"id":"68d03875.2231f8","type":"princip-llrp-in","z":"dfd8437e.d5dd6","name":"215","device":"9642ec58.5ecae","x":1550,"y":100,"wires":[]},{"id":"15cf8a7b.3d4ef6","type":"princip-llrp-in","z":"dfd8437e.d5dd6","name":"214","device":"5ced33ba.3d01cc","x":1550,"y":140,"wires":[]},{"id":"1e739edb.41fc01","type":"princip-llrp-in","z":"dfd8437e.d5dd6","name":"212","device":"eb96ba0d.418938","x":1550,"y":180,"wires":[]},{"id":"8362aa8a.29f2c8","type":"princip-llrp-in","z":"dfd8437e.d5dd6","name":"211","device":"bf8b2c7a.7c8d4","x":1550,"y":220,"wires":[]},{"id":"72566fe0.d91f3","type":"princip-llrp-in","z":"dfd8437e.d5dd6","name":"210","device":"831e3e0e.9272","x":1550,"y":260,"wires":[]},{"id":"bbb6dba8.acbaa8","type":"princip-llrp-in","z":"dfd8437e.d5dd6","name":"217","device":"6d410e8.b231bf","x":1830,"y":20,"wires":[]},{"id":"14b34776.4d0599","type":"switch","z":"dfd8437e.d5dd6","name":"","property":"ip","propertyType":"msg","rules":[{"t":"eq","v":"10.3.5.217","vt":"str"},{"t":"eq","v":"10.3.5.216","vt":"str"},{"t":"eq","v":"10.3.5.215","vt":"str"},{"t":"eq","v":"10.3.5.214","vt":"str"},{"t":"eq","v":"10.3.5.212","vt":"str"},{"t":"eq","v":"10.3.5.211","vt":"str"},{"t":"eq","v":"10.3.5.210","vt":"str"}],"checkall":"true","outputs":7,"x":1690,"y":140,"wires":[["bbb6dba8.acbaa8"],["c38acce5.97448"],["c05768fb.366978"],["89685fdf.faefe"],["5eb3650a.d3581c"],["51a7cf01.643d7"],["81fc49a5.6e37d8"]]},{"id":"c38acce5.97448","type":"princip-llrp-in","z":"dfd8437e.d5dd6","name":"216","device":"845cac58.ca9db","x":1830,"y":60,"wires":[]},{"id":"c05768fb.366978","type":"princip-llrp-in","z":"dfd8437e.d5dd6","name":"215","device":"9642ec58.5ecae","x":1830,"y":100,"wires":[]},{"id":"89685fdf.faefe","type":"princip-llrp-in","z":"dfd8437e.d5dd6","name":"214","device":"5ced33ba.3d01cc","x":1830,"y":140,"wires":[]},{"id":"5eb3650a.d3581c","type":"princip-llrp-in","z":"dfd8437e.d5dd6","name":"212","device":"eb96ba0d.418938","x":1830,"y":180,"wires":[]},{"id":"51a7cf01.643d7","type":"princip-llrp-in","z":"dfd8437e.d5dd6","name":"211","device":"bf8b2c7a.7c8d4","x":1830,"y":220,"wires":[]},{"id":"81fc49a5.6e37d8","type":"princip-llrp-in","z":"dfd8437e.d5dd6","name":"210","device":"831e3e0e.9272","x":1830,"y":260,"wires":[]},{"id":"789ae576.1d301c","type":"princip-llrp-in","z":"dfd8437e.d5dd6","name":"217","device":"6d410e8.b231bf","x":2090,"y":20,"wires":[]},{"id":"8bb9a6b3.4362e8","type":"switch","z":"dfd8437e.d5dd6","name":"","property":"ip","propertyType":"msg","rules":[{"t":"eq","v":"10.3.5.217","vt":"str"},{"t":"eq","v":"10.3.5.216","vt":"str"},{"t":"eq","v":"10.3.5.215","vt":"str"},{"t":"eq","v":"10.3.5.214","vt":"str"},{"t":"eq","v":"10.3.5.212","vt":"str"},{"t":"eq","v":"10.3.5.211","vt":"str"},{"t":"eq","v":"10.3.5.210","vt":"str"}],"checkall":"true","outputs":7,"x":1950,"y":140,"wires":[["789ae576.1d301c"],["99f07eed.7ba8d"],["3ae74395.c4be1c"],["d8b9e48d.140538"],["f7c18bbb.7dcbc8"],["f60e1024.0f85d"],["a9d49e8f.f6c53"]]},{"id":"99f07eed.7ba8d","type":"princip-llrp-in","z":"dfd8437e.d5dd6","name":"216","device":"845cac58.ca9db","x":2090,"y":60,"wires":[]},{"id":"3ae74395.c4be1c","type":"princip-llrp-in","z":"dfd8437e.d5dd6","name":"215","device":"9642ec58.5ecae","x":2090,"y":100,"wires":[]},{"id":"d8b9e48d.140538","type":"princip-llrp-in","z":"dfd8437e.d5dd6","name":"214","device":"5ced33ba.3d01cc","x":2090,"y":140,"wires":[]},{"id":"f7c18bbb.7dcbc8","type":"princip-llrp-in","z":"dfd8437e.d5dd6","name":"212","device":"eb96ba0d.418938","x":2090,"y":180,"wires":[]},{"id":"f60e1024.0f85d","type":"princip-llrp-in","z":"dfd8437e.d5dd6","name":"211","device":"bf8b2c7a.7c8d4","x":2090,"y":220,"wires":[]},{"id":"a9d49e8f.f6c53","type":"princip-llrp-in","z":"dfd8437e.d5dd6","name":"210","device":"831e3e0e.9272","x":2090,"y":260,"wires":[]},{"id":"362329f.1dfdbd6","type":"http in","z":"6683cb2c.6892d4","name":"","url":"/getTag","method":"get","swaggerDoc":"","x":130,"y":80,"wires":[["9b5c0373.7cdc6"]]},{"id":"9b5c0373.7cdc6","type":"function","z":"6683cb2c.6892d4","name":"","func":"var rfidID    = msg.req.query.rfidID.replace(/\\./g,\"_\");\nvar antennaID = msg.req.query.antennaID;\n\nif(antennaID){\n    antennaID = Number(antennaID);\n}\n\nvar tags = [];\nvar rfidTags = flow.get(rfidID);\n\nvar currentDate = new Date();\nvar difference  = 4000;\n\nif(rfidTags){\nfor (var i = rfidTags.length-1; i >=0; i--){\n    \n   if((rfidTags[i].antennaID===antennaID)&&((currentDate - rfidTags[i].timestamp) <= difference)){\n        tags.push({\n            'tagID':rfidTags[i].tagID,\n            'PeakRSSI':rfidTags[i].PeakRSSI,\n            'tagLastSeen':rfidTags[i].timestamp,\n            'currentDate':currentDate,\n            'diff':currentDate-rfidTags[i].timestamp\n            \n        });\n        \n    }\n}\n}\nmsg.payload = tags;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":80,"wires":[["27560f22.2da41"]]},{"id":"27560f22.2da41","type":"http response","z":"6683cb2c.6892d4","name":"","x":470,"y":80,"wires":[]},{"id":"d4154f9f.a6e8b","type":"debug","z":"6683cb2c.6892d4","name":"","active":false,"console":false,"complete":"payload","x":630,"y":40,"wires":[]},{"id":"ad3cb60a.3fd838","type":"http in","z":"dfd8437e.d5dd6","name":"","url":"/setReaderConfig","method":"post","swaggerDoc":"","x":680,"y":40,"wires":[["cfb5850.082cd78","67030ff3.b5cb5"]]},{"id":"cfb5850.082cd78","type":"function","z":"dfd8437e.d5dd6","name":"","func":"var gpo_cmd = msg.payload.cmd;\nvar sendGPO = flow.get('sendGPO');\nmsg.ip      = msg.req.query.rfidID;\nmsg.payload = new Buffer(sendGPO+gpo_cmd,'hex');\nreturn msg;","outputs":"1","noerr":0,"x":910,"y":40,"wires":[["f1b20175.40662","11be815a.d224ff"]]},{"id":"67030ff3.b5cb5","type":"http response","z":"dfd8437e.d5dd6","name":"","x":910,"y":100,"wires":[]},{"id":"eedab801.e11248","type":"inject","z":"6683cb2c.6892d4","name":"","topic":"","payload":"10_3_5_210","payloadType":"flow","repeat":"","crontab":"","once":false,"x":120,"y":160,"wires":[["2794f459.cde39c"]]},{"id":"2794f459.cde39c","type":"debug","z":"6683cb2c.6892d4","name":"","active":false,"console":"false","complete":"false","x":290,"y":160,"wires":[]},{"id":"f1b20175.40662","type":"debug","z":"dfd8437e.d5dd6","name":"","active":false,"console":"false","complete":"payload","x":1080,"y":40,"wires":[]},{"id":"2d0928cc.2aded8","type":"debug","z":"dfd8437e.d5dd6","name":"","active":false,"console":"false","complete":"false","x":1070,"y":660,"wires":[]},{"id":"ff72c67.d86d438","type":"inject","z":"6683cb2c.6892d4","name":"","topic":"","payload":"allTags","payloadType":"flow","repeat":"","crontab":"","once":false,"x":110,"y":200,"wires":[["1d66e4ea.fbf1cb"]]},{"id":"1d66e4ea.fbf1cb","type":"debug","z":"6683cb2c.6892d4","name":"","active":false,"console":"false","complete":"false","x":290,"y":200,"wires":[]},{"id":"33ade0a4.dcb1b","type":"inject","z":"6683cb2c.6892d4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":240,"wires":[["485b6a3c.163694"]]},{"id":"485b6a3c.163694","type":"function","z":"6683cb2c.6892d4","name":"","func":"flow.set(\"allTags\",[]);\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":240,"wires":[[]]},{"id":"6226352b.f5491c","type":"http in","z":"6683cb2c.6892d4","name":"","url":"/getAllTags","method":"get","swaggerDoc":"","x":140,"y":120,"wires":[["ee2719a8.96eed8"]]},{"id":"ee2719a8.96eed8","type":"function","z":"6683cb2c.6892d4","name":"","func":"var allTags = flow.get(\"allTags\");\nvar tags    = [];\nvar currentDate = new Date();\nvar difference  = 4000;\n\nif(allTags){\nfor (var i = allTags.length-1; i >=0; i--){\n    \n   if(((currentDate - allTags[i].timestamp) <= difference)){\n        tags.push({\n            \"ip\":allTags[i].ip,\n            \"antenna\":allTags[i].antennaID,\n            'tagID':allTags[i].tagID,\n            'PeakRSSI':allTags[i].PeakRSSI,\n            'tagLastSeen':allTags[i].timestamp,\n            'currentDate':currentDate,\n            'diff':currentDate-allTags[i].timestamp\n        });\n        \n    }\n}\n}\nmsg.payload = tags;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":120,"wires":[["17039ed8.f916a1","80a87094.5a33d"]]},{"id":"17039ed8.f916a1","type":"http response","z":"6683cb2c.6892d4","name":"","x":470,"y":120,"wires":[]},{"id":"b6313aeb.49d618","type":"debug","z":"dfd8437e.d5dd6","name":"","active":false,"console":"false","complete":"false","x":650,"y":100,"wires":[]},{"id":"a1d8c447.6e0ea8","type":"inject","z":"dfd8437e.d5dd6","name":"","topic":"","payload":"accessTable","payloadType":"flow","repeat":"","crontab":"","once":false,"x":120,"y":680,"wires":[["75df88bf.874518"]]},{"id":"75df88bf.874518","type":"debug","z":"dfd8437e.d5dd6","name":"","active":true,"console":"false","complete":"false","x":320,"y":680,"wires":[]},{"id":"515bb1b8.2816c","type":"switch","z":"dfd8437e.d5dd6","name":"","property":"do","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","outputs":1,"x":850,"y":240,"wires":[["f16e0bfc.139188"]]},{"id":"6bf18bde.805374","type":"debug","z":"dfd8437e.d5dd6","name":"","active":false,"console":"false","complete":"false","x":1200,"y":380,"wires":[]},{"id":"80a87094.5a33d","type":"debug","z":"6683cb2c.6892d4","name":"","active":false,"console":"false","complete":"false","x":540,"y":200,"wires":[]},{"id":"85ddd9e4.bddf78","type":"inject","z":"41ec8791.9a4d68","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":80,"wires":[["d101a1fe.8600f"]]},{"id":"d101a1fe.8600f","type":"template","z":"41ec8791.9a4d68","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"CREATE TABLE TagLogs (\n ip           varchar(15),\n    tagID          varchar(56) NOT NULL,\n    antenna        varchar(2),\n    lasttimeSeen   date,\n   diff           integer ,\n    peakRSSI      integer\n);","x":340,"y":80,"wires":[["9a7574d7.7c1498"]]},{"id":"9a7574d7.7c1498","type":"postgres","z":"41ec8791.9a4d68","postgresdb":"54fbc0de.86b5a","name":"","output":false,"outputs":0,"x":480,"y":80,"wires":[]},{"id":"1f65a039.cbe4f","type":"function","z":"6683cb2c.6892d4","name":"","func":"var tag = msg.payload;\nmsg = {\n  \"payload\":tag \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":140,"wires":[["e8bc1ec9.84a06"]]},{"id":"e8bc1ec9.84a06","type":"template","z":"6683cb2c.6892d4","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO public.taglogs(ip, tagid, antenna, diff, peakrssi) VALUES ('{{payload.ip}}', '{{payload.tagID}}','{{payload.antennaID}}', 0,{{payload.peakRSSI}})","x":730,"y":140,"wires":[["61199176.1cc9c"]]},{"id":"61199176.1cc9c","type":"postgres","z":"6683cb2c.6892d4","postgresdb":"54fbc0de.86b5a","name":"","output":false,"outputs":0,"x":860,"y":140,"wires":[]}]
