kernel/vd-67 flow_table_rider
[{"id":"b5cb8d46.ec3e","type":"tab","label":"Display","disabled":false,"info":""},{"id":"d4442915.ce0938","type":"HIDConfig","z":"","vid":"1155","pid":"22352","name":""},{"id":"3109b4ab.a6160c","type":"HIDConfig","z":"","vid":"34578","pid":"34600","name":"keyboard"},{"id":"10ff6963.867a57","type":"HIDdevice","z":"b5cb8d46.ec3e","connection":"3109b4ab.a6160c","name":"","x":112.8571548461914,"y":277.1428556442261,"wires":[["c574bd92.2c5d","314a2f06.010c1"],["c574bd92.2c5d"]]},{"id":"e583f40d.4f8528","type":"getHIDdevices","z":"b5cb8d46.ec3e","name":"","x":468.57142639160156,"y":125.71427917480469,"wires":[["aec2d5ff.b5db08"]]},{"id":"9592587a.042a38","type":"inject","z":"b5cb8d46.ec3e","name":"Отимати PID VID ","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":271.4285659790039,"y":124.28571033477783,"wires":[["e583f40d.4f8528"]]},{"id":"aec2d5ff.b5db08","type":"debug","z":"b5cb8d46.ec3e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":645.7142753601074,"y":127.14285087585449,"wires":[]},{"id":"55b7c22d.1edf0c","type":"inject","z":"b5cb8d46.ec3e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":223.03569793701172,"y":34.64285659790039,"wires":[["91b57b1.0661e88"]]},{"id":"8ec48aa0.404798","type":"function","z":"b5cb8d46.ec3e","name":"init","func":"flow.set(\"str\",[]);\nreturn msg;","outputs":1,"noerr":0,"x":618.5713996887207,"y":38.571431159973145,"wires":[["ee4ea28e.30eaf"]]},{"id":"ee4ea28e.30eaf","type":"debug","z":"b5cb8d46.ec3e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":759.9999694824219,"y":37.14285755157471,"wires":[]},{"id":"c574bd92.2c5d","type":"debug","z":"b5cb8d46.ec3e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":317.8571548461914,"y":323.1428556442261,"wires":[]},{"id":"621fec0f.9f2d64","type":"debug","z":"b5cb8d46.ec3e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":356,"y":469.25,"wires":[]},{"id":"314a2f06.010c1","type":"function","z":"b5cb8d46.ec3e","name":"шфр.Key","func":"var in_v = msg.payload[3];\n\nif(in_v == 8){\n    msg.payload = \"e\";\n}else if(in_v === 0 ){\n    msg.payload = \"\";\n}else if(in_v == 30 ){\n    msg.payload = 1;\n}else if(in_v == 31 ){\n    msg.payload = 2;\n}else if(in_v == 32 ){\n    msg.payload = 3;\n}else if(in_v == 33 ){\n    msg.payload = 4;\n}else if(in_v == 34 ){\n    msg.payload = 5;\n}else if(in_v == 35 ){\n    msg.payload = 6;\n}else if(in_v == 36 ){\n    msg.payload = 7;\n}else if(in_v == 37 ){\n    msg.payload = 8;\n}else if(in_v == 38 ){\n    msg.payload = 9;\n}else if(in_v == 39 ){\n    msg.payload = 0;\n}else if(in_v == 6 ){\n    msg.payload = \"c\";\n}else if(in_v == 4 ){\n    msg.payload = \"a\";\n}else if(in_v == 5 ){\n    msg.payload = \"b\";\n}else if(in_v == 7 ){\n    msg.payload = \"d\";\n}else if(in_v == 9 ){\n    msg.payload = \"f\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":275.85716247558594,"y":272.14285945892334,"wires":[["102d1c9e.cddcc3"]]},{"id":"102d1c9e.cddcc3","type":"function","z":"b5cb8d46.ec3e","name":"масив","func":"var str_1 = flow.get(\"str\");\nstr_1.push(msg.payload);\nmsg.payload = str_1;\nreturn msg;","outputs":1,"noerr":0,"x":408.3571548461914,"y":271.8928556442261,"wires":[["3853f05a.ffe01"]]},{"id":"aff0aaf4.141aa8","type":"function","z":"b5cb8d46.ec3e","name":"get all str EPC","func":"var str_1 = flow.get(\"str\");\nstr_1 = str_1.join('');\nmsg.payload = str_1;\nreturn msg;","outputs":1,"noerr":0,"x":999.1071739196777,"y":269.64286041259766,"wires":[["cb0a05c0.b1c058","c328c971.e6cb58","a2bfe96d.3a3e88"]]},{"id":"63b33945.1c41c8","type":"inject","z":"b5cb8d46.ec3e","name":"Остання мітка","topic":"","payload":"rfid","payloadType":"flow","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":166,"y":469.5,"wires":[["621fec0f.9f2d64"]]},{"id":"cb0a05c0.b1c058","type":"debug","z":"b5cb8d46.ec3e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1198.6071548461914,"y":270.6428556442261,"wires":[]},{"id":"65d96afc.944934","type":"delay","z":"b5cb8d46.ec3e","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":657.8571548461914,"y":269.8928556442261,"wires":[["8b57620e.61284"]]},{"id":"8b57620e.61284","type":"delay","z":"b5cb8d46.ec3e","name":"","pauseType":"rate","timeout":"400","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":815.3571701049805,"y":267.14285945892334,"wires":[["aff0aaf4.141aa8"]]},{"id":"ce2b012.f4c3f","type":"function","z":"b5cb8d46.ec3e","name":"reset \"str\"","func":"flow.set(\"str\",[]);\n\nreturn msg;","outputs":1,"noerr":0,"x":1242.2856712341309,"y":351.78569889068604,"wires":[[]]},{"id":"f3df866b.fbd178","type":"debug","z":"b5cb8d46.ec3e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":702.8571701049805,"y":327.14285945892334,"wires":[]},{"id":"c328c971.e6cb58","type":"delay","z":"b5cb8d46.ec3e","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":908.1071548461914,"y":353.6428556442261,"wires":[["20d3c760.330a28"]]},{"id":"20d3c760.330a28","type":"delay","z":"b5cb8d46.ec3e","name":"","pauseType":"rate","timeout":"400","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"4","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1079.8571548461914,"y":352.6428556442261,"wires":[["ce2b012.f4c3f"]]},{"id":"3853f05a.ffe01","type":"function","z":"b5cb8d46.ec3e","name":"стр","func":"var str_1 = flow.get(\"str\");\nstr_1 = str_1.join('');\nmsg.payload = str_1;\nreturn msg;","outputs":1,"noerr":0,"x":527.1071548461914,"y":270.6428556442261,"wires":[["65d96afc.944934","f3df866b.fbd178"]]},{"id":"c7e09b92.368a18","type":"comment","z":"b5cb8d46.ec3e","name":"GEt RFID WIHT HTTp","info":"e200001b2909002918100a72","x":188.5,"y":535,"wires":[]},{"id":"8df68da2.891a5","type":"http in","z":"b5cb8d46.ec3e","name":"","url":"/api/platform/getTag","method":"get","upload":false,"swaggerDoc":"","x":140.5,"y":608,"wires":[["9ba289bc.831718","828a08e5.8933b8"]]},{"id":"9ba289bc.831718","type":"function","z":"b5cb8d46.ec3e","name":"RFID SEND","func":"msg.payload = {\n    \"rfid\": flow.get(\"rfid\")\n}\nreturn msg;","outputs":1,"noerr":0,"x":352.5,"y":608,"wires":[["e63f2c9d.75004","e69240c6.b22c9"]]},{"id":"e63f2c9d.75004","type":"http response","z":"b5cb8d46.ec3e","name":"","statusCode":"","headers":{},"x":552.5,"y":607,"wires":[]},{"id":"a2bfe96d.3a3e88","type":"function","z":"b5cb8d46.ec3e","name":"set rfid","func":"flow.set(\"rfid\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1090.3571548461914,"y":220.14285564422607,"wires":[["22cf9800.f1d2d8"]]},{"id":"7b197e2c.3b1db","type":"comment","z":"b5cb8d46.ec3e","name":"CLEAR RFID CARD","info":"","x":178,"y":674,"wires":[]},{"id":"a34219d.a4f2ee8","type":"http in","z":"b5cb8d46.ec3e","name":"","url":"/api/platform/reset","method":"get","upload":false,"swaggerDoc":"","x":126,"y":726,"wires":[["a61e63de.2de12"]]},{"id":"a61e63de.2de12","type":"function","z":"b5cb8d46.ec3e","name":"Clear  RFID","func":"msg.payload = {\n    \"rfid\": flow.set(\"rfid\",'')\n}\nreturn msg;","outputs":1,"noerr":0,"x":348,"y":726,"wires":[["7f1749d0.6443a8"]]},{"id":"7f1749d0.6443a8","type":"http response","z":"b5cb8d46.ec3e","name":"","statusCode":"","headers":{},"x":491,"y":726,"wires":[]},{"id":"e69240c6.b22c9","type":"debug","z":"b5cb8d46.ec3e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":565.6428375244141,"y":558.1428394317627,"wires":[]},{"id":"886364c6.37dcd8","type":"inject","z":"b5cb8d46.ec3e","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":192.9285774230957,"y":905.2856369018555,"wires":[["828a08e5.8933b8"]]},{"id":"91b57b1.0661e88","type":"function","z":"b5cb8d46.ec3e","name":"ThingsBoard integrations","func":"var resultTH = {\n   \"deviceName\": \"rfid\",\n   \"deviceType\": \"rfid_1\",\n   \"attributes\": {\n       \"model\": \"VD-67\",\n       \"serialNumber\": \"SN012345\",\n       \"integrationName\": \"Smart scale rfid integration\"\n   }\n};\nflow.set('resultTH',resultTH);   \nreturn msg;","outputs":1,"noerr":0,"x":425.73909759521484,"y":38.74501609802246,"wires":[["8ec48aa0.404798"]]},{"id":"a915765d.e489e8","type":"http request","z":"b5cb8d46.ec3e","name":"ThingsBoard Smart RFID","method":"POST","ret":"txt","url":"http://10.3.5.223:8080/api/v1/LYbPfZbLCZgvtN2qU4lz/telemetry","tls":"","x":1883.0485916137695,"y":930.5544590950012,"wires":[[]]},{"id":"a93f05a0.335e08","type":"function","z":"b5cb8d46.ec3e","name":"","func":"msg.headers = {\n    \"Content-Type\":\"application/json\"\n}\nmsg.payload = msg.payload.telemetry;\nreturn msg;","outputs":1,"noerr":0,"x":1288.286766052246,"y":913.8877925872803,"wires":[["a915765d.e489e8"]]},{"id":"828a08e5.8933b8","type":"function","z":"b5cb8d46.ec3e","name":"rfid_card","func":"var payload = flow.get('resultTH');\npayload.telemetry = {\n    \"rfid_card\" : flow.get(\"rfid\"),\n    \"event\":\"1С отримало картку\"\n}; \nmsg.payload = payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":426.8582000732422,"y":915.3164081573486,"wires":[["a93f05a0.335e08"]]},{"id":"18718b87.4ba2b4","type":"comment","z":"b5cb8d46.ec3e","name":"Розшифровка даних картки","info":"","x":235.71429443359375,"y":211.42857360839844,"wires":[]},{"id":"1b48e36a.d297ed","type":"comment","z":"b5cb8d46.ec3e","name":"Відправка даних на TB","info":"","x":535.7142944335938,"y":851.4285564422607,"wires":[]},{"id":"22cf9800.f1d2d8","type":"function","z":"b5cb8d46.ec3e","name":"rfid_card","func":"var payload = flow.get('resultTH');\npayload.telemetry = {\n    \"event\":\"Виявлена картка\"\n}; \nmsg.payload = payload;\n\nreturn msg;","outputs":1,"noerr":0,"x":1291,"y":176,"wires":[["a93f05a0.335e08"]]}]
