SmartScale/templates/metroves
[{"id":"fa1909b3.2ee098","type":"inject","z":"557a7f7.0d810c","name":"init","topic":"","payload":"init","payloadType":"str","repeat":"","crontab":"","once":true,"x":64,"y":50,"wires":[["7f9a4051.1a503"]]},{"id":"7f9a4051.1a503","type":"function","z":"557a7f7.0d810c","name":"init flow vars","func":"var p = {\n    'smartScaleURL':'http://10.1.132.171/preBI/hs/api/v1/weights?token=5af8e4eb-c54a-40ab-8755-b6e154d9a7d1&encoding=utf8',\n    'smartScaleMethod':'POST',\n    'organizationName':'Ніжинська дільниця',\n    'organizationID':'03',\n    'typeOfScale':'IoT',\n    'source':'atom',\n    'scale':'nez_avto1',\n    'dblogin':'atom2',\n    'dbpassword':'123',\n    'log':0,\n    'socketport':'4001',\n    'ip':'10.3.9.129',\n    //String.fromCharCode(10)+String.fromCharCode(13),\n    'inject':\"ZZ\",\n    'parser':function(v){\n        \n            v = v.substring(1,v.indexOf('k'));\n            return v;\n        }\n}\nflow.set('p',p);\nreturn msg;","outputs":1,"noerr":0,"x":224,"y":50,"wires":[["db391d63.b2bbd"]]},{"id":"db391d63.b2bbd","type":"debug","z":"557a7f7.0d810c","name":"","active":false,"console":"false","complete":"payload","x":424,"y":50,"wires":[]}]
