SmartScale/templates/MirvesovA9
[{"id":"eb72db9e.cc7968","type":"inject","z":"150259ef.7a7d56","name":"init","topic":"","payload":"init","payloadType":"str","repeat":"","crontab":"","once":true,"x":101,"y":32,"wires":[["b332e915.f9d168"]]},{"id":"b332e915.f9d168","type":"function","z":"150259ef.7a7d56","name":"init flow vars","func":"var p = {\n    'smartScaleURL':'http://10.1.132.171/preBI/hs/api/v1/weights?token=5af8e4eb-c54a-40ab-8755-b6e154d9a7d1&encoding=utf8',\n    'smartScaleMethod':'POST',\n    'organizationName':'Третихатська дільниця',\n    'organizationID':'25',\n    'typeOfScale':'IoT',\n    'source':'atom',\n    'scale':'tr_avto2',\n    'dblogin':'atom2',\n    'dbpassword':'123',\n    'log':1,\n    'socketport':'4001',\n    'ip':'10.3.27.149',\n    'inject':String.fromCharCode(2)+String.fromCharCode(64)+String.fromCharCode(68)+String.fromCharCode(0)+String.fromCharCode(4)+String.fromCharCode(3),\n    'parser':function(v){\n        var i = v.substring(4,5);\n        if (i==='+'){\n            i = 1;\n        }else {\n            i = -1;\n            }\n        v = v.substring(5,11);\n            return Number(v*i);\n        }\n}\nflow.set('p',p);\nreturn msg;","outputs":1,"noerr":0,"x":261,"y":32,"wires":[["b93e981.4a9c368"]]},{"id":"b93e981.4a9c368","type":"debug","z":"150259ef.7a7d56","name":"","active":false,"console":"false","complete":"payload","x":461,"y":32,"wires":[]}]
