SmartScale/templates/pulsar92
[{"id":"aa17cfa9.85bb4","type":"inject","z":"9aaf7fcb.8c503","name":"init","topic":"","payload":"init","payloadType":"str","repeat":"","crontab":"","once":true,"x":88,"y":32,"wires":[["f130a901.fa2ff8"]]},{"id":"f130a901.fa2ff8","type":"function","z":"9aaf7fcb.8c503","name":"init flow vars","func":"var p = {\n    'smartScaleURL':'http://10.1.132.171/preBI/hs/api/v1/weights?token=5af8e4eb-c54a-40ab-8755-b6e154d9a7d1&encoding=utf8',\n    'smartScaleMethod':'POST',\n    'organizationName':'Лихачовська дільниця',\n    'organizationID':'18',\n    'typeOfScale':'IoT',\n    'source':'atom',\n    'scale':'li_jd1',\n    'dblogin':'atom2',\n    'dbpassword':'123',\n    'log':1,\n    'socketport':'4001',\n    'ip':'10.0.16.159',\n    'inject':\"w\"+String.fromCharCode(13),\n    'parser':function(v){\n            \n            v = v.substring(4,13)\n            \n            return Number(v)*1000;\n        }\n}\nflow.set('p',p);","outputs":1,"noerr":0,"x":248,"y":32,"wires":[["84fde88e.57fcb8"]]},{"id":"84fde88e.57fcb8","type":"debug","z":"9aaf7fcb.8c503","name":"","active":false,"console":"false","complete":"payload","x":448,"y":32,"wires":[]}]
