SmartScale/templates/systec-it3000
[{"id":"2c7063c2.ef407c","type":"comment","z":"411342a8.77d3ac","name":"Init global vars","info":"","x":113,"y":30,"wires":[]},{"id":"32ae65b2.ad6a8a","type":"inject","z":"411342a8.77d3ac","name":"init","topic":"","payload":"init","payloadType":"str","repeat":"","crontab":"","once":true,"x":103,"y":70,"wires":[["a7bd2ebd.cb35b"]]},{"id":"a7bd2ebd.cb35b","type":"function","z":"411342a8.77d3ac","name":"init flow vars","func":"var p = {\n    'smartScaleURL':'http://10.1.132.171/preBI/hs/api/v1/weights?token=5af8e4eb-c54a-40ab-8755-b6e154d9a7d1&encoding=utf8',\n    'smartScaleMethod':'POST',\n    'organizationName':'Супрунівська дільниця',\n    'organnizationID':'11',\n    'typeOfScale':'IoT',\n    'source':'atom',\n    'scale':'su_avto_80t',\n    'dblogin':'atom2',\n    'dbpassword':'123',\n    'inject':\"<RN>\",\n    'log':0,\n    'socketport':'4001',\n    'ip':'10.3.41.250',\n    'parser':function(v){\n            \n            v = v.replace(/[# ]/g,'|');\n            v = v.split(\"|\");\n            let w = '';\n            for (let h of v) {\n                if (h.indexOf(\"kg\") !== -1) {\n                    w = h;\n                    break;\n                }\n            }\n            v = w.replace('kg', '');\n            v = Number(v) || 0;\n    \n            return v;\n        }\n}\nflow.set('p',p);","outputs":1,"noerr":0,"x":263,"y":70,"wires":[["909f15c0.f29928"]]},{"id":"909f15c0.f29928","type":"debug","z":"411342a8.77d3ac","name":"","active":false,"console":"false","complete":"payload","x":463,"y":70,"wires":[]}]
