SmartScale/templates/systec-it3000
[{"id":"d1bd4dac.63931","type":"comment","z":"956b4ea4.17adf","name":"Init global vars","info":"","x":103,"y":32,"wires":[]},{"id":"fb2b280e.c50bf8","type":"inject","z":"956b4ea4.17adf","name":"init","topic":"","payload":"init","payloadType":"str","repeat":"","crontab":"","once":true,"x":93,"y":72,"wires":[["471dcbc6.1146d4"]]},{"id":"471dcbc6.1146d4","type":"function","z":"956b4ea4.17adf","name":"init flow vars","func":"var p = {\n    'smartScaleURL':'http://10.1.132.171/preBI/hs/api/v1/weights?token=5af8e4eb-c54a-40ab-8755-b6e154d9a7d1&encoding=utf8',\n    'smartScaleMethod':'POST',\n    'organizationName':'Супрунівська дільниця',\n    'organnizationID':'11',\n    'typeOfScale':'IoT',\n    'source':'atom',\n    'scale':'su_avto_80t',\n    'dblogin':'atom2',\n    'dbpassword':'123',\n    'inject':\"<RN>\",\n    'log':0,\n    'socketport':'4001',\n    'ip':'10.3.41.250',\n    'parser':function(v){\n            \n            v = v.replace(/[# ]/g,'|');\n            v = v.split(\"|\");\n            let w = 0;\n            for (let h of v) {\n                if (h.indexOf(\"kg\") !== -1) {\n                    w = h;\n                    break;\n                }\n            }\n            v = w.replace('kg', '');\n            v = Number(v);\n    \n            return v;\n        }\n}\nflow.set('p',p);","outputs":1,"noerr":0,"x":253,"y":72,"wires":[["86816aaa.e303d8"]]},{"id":"86816aaa.e303d8","type":"debug","z":"956b4ea4.17adf","name":"","active":false,"console":"false","complete":"payload","x":453,"y":72,"wires":[]}]
