SmartScale/templates/systec-it3000
[{"id":"f95f3aa2.db0e58","type":"comment","z":"35f1e2d7.fcba6e","name":"Init global vars","info":"","x":106,"y":45,"wires":[]},{"id":"65d63a09.0c3b64","type":"inject","z":"35f1e2d7.fcba6e","name":"init","topic":"","payload":"init","payloadType":"str","repeat":"","crontab":"","once":true,"x":96,"y":85,"wires":[["2e2d733.17dd38c"]]},{"id":"2e2d733.17dd38c","type":"function","z":"35f1e2d7.fcba6e","name":"init flow vars","func":"var p = {\n    'smartScaleURL':'http://10.1.132.171/preBI/hs/api/v1/weights?token=5af8e4eb-c54a-40ab-8755-b6e154d9a7d1&encoding=utf8',\n    'smartScaleMethod':'POST',\n    'organizationName':'Супрунівська дільниця',\n    'organnizationID':'11',\n    'typeOfScale':'IoT',\n    'source':'atom',\n    'scale':'su_avto_80t',\n    'dblogin':'atom2',\n    'dbpassword':'123',\n    'inject':\"<RN>\",\n    'log':0,\n    'socketport':'4001',\n    'ip':'10.3.41.250',\n    'parser':function(v){\n    \n            v = v.split(' ');\n            v = v[4];\n            v = v.replace('kg', '');\n            // v = v.replace('2UB','');\n            // v = v.replace(String.fromCharCode(2),'');\n            // v = v.replace(String.fromCharCode(3),'');\n            v = Number(v);\n    \n            return v;\n        }\n}\nflow.set('p',p);","outputs":1,"noerr":0,"x":256,"y":85,"wires":[["5b80b36.b6ef54c"]]},{"id":"5b80b36.b6ef54c","type":"debug","z":"35f1e2d7.fcba6e","name":"","active":false,"console":"false","complete":"payload","x":456,"y":85,"wires":[]}]
