SmartScale/templates/ВА60-18-1Э
[{"id":"95edfc26.d6684","type":"inject","z":"dfa6c4e9.a86bb8","name":"init","topic":"","payload":"init","payloadType":"str","repeat":"","crontab":"","once":true,"x":90,"y":61,"wires":[["73c1f8c2.65caf8"]]},{"id":"73c1f8c2.65caf8","type":"function","z":"dfa6c4e9.a86bb8","name":"init flow vars","func":"var p = {\n    'smartScaleURL':'http://10.1.132.171/preBI/hs/api/v1/weights?token=5af8e4eb-c54a-40ab-8755-b6e154d9a7d1&encoding=utf8',\n    'smartScaleMethod':'POST',\n    'organizationName':'Сіверська дільниця',\n    'organizationID':'35',\n    'typeOfScale':'IoT',\n    'source':'atom',\n    'scale':'sev_avto1',\n    'dblogin':'atom2',\n    'dbpassword':'123',\n    'log':1,\n    'socketport':'4001',\n    'ip':'10.4.4.155',\n    'inject':String.fromCharCode(64),\n    'parser':function(v){\n           return Number(v.substring(1,7));\n        }\n}\nflow.set('p',p);","outputs":1,"noerr":0,"x":250,"y":61,"wires":[["d7610bf7.f35ac8"]]},{"id":"d7610bf7.f35ac8","type":"debug","z":"dfa6c4e9.a86bb8","name":"","active":false,"console":"false","complete":"payload","x":450,"y":61,"wires":[]}]
