SmartScale/templates/ЕрМак 60-1-20
[{"id":"3e7328e.2d87bd8","type":"inject","z":"e0906f6e.30634","name":"init","topic":"","payload":"init","payloadType":"str","repeat":"","crontab":"","once":true,"x":110,"y":40,"wires":[["6d833a93.fbde94"]]},{"id":"6d833a93.fbde94","type":"function","z":"e0906f6e.30634","name":"init flow vars","func":"var p = {\n    'smartScaleURL':'http://10.1.132.171/preBI/hs/api/v1/weights?token=5af8e4eb-c54a-40ab-8755-b6e154d9a7d1&encoding=utf8',\n    'smartScaleMethod':'POST',\n    'organizationName':'Кононівська дільниця',\n    'organizationID':'08',\n    'typeOfScale':'IoT',\n    'source':'atom',\n    'scale':'kon_avto1',\n    'dblogin':'atom2',\n    'dbpassword':'123',\n    'log':1,\n    'socketport':'4002',\n    'ip':'10.3.15.132',\n    'inject':\"VES\",\n    'parser':function(v){\n            return Number(v);\n        }\n}\nflow.set('p',p);","outputs":1,"noerr":0,"x":250,"y":40,"wires":[["2555b4cb.85bb1c"]]},{"id":"2555b4cb.85bb1c","type":"debug","z":"e0906f6e.30634","name":"","active":false,"console":"false","complete":"payload","x":410,"y":40,"wires":[]}]
