SmartScale/templates/Техноваги ЖД 150
[{"id":"eebf716e.fe948","type":"inject","z":"2b7b0654.14db0a","name":"init","topic":"","payload":"init","payloadType":"str","repeat":"","crontab":"","once":true,"x":69,"y":94,"wires":[["d203931a.22971"]]},{"id":"d203931a.22971","type":"function","z":"2b7b0654.14db0a","name":"INIT VARIABLES","func":"var p = {\n    'organizationName':'Галещинська дільниця',\n    'typeOfScale':'IoT',\n    'scale':'ga_jd1',\n    'log':0,\n    'inject':String.fromCharCode(0),\n    'parser':function(v){\n        \n           var k1 = v.readInt16LE(1,2)*10;\n           var k2 = v.readInt16LE(3,2)*10;\n           var k3 = v.readInt16LE(5,2)*10;\n           var k4 = v.readInt16LE(7,2)*10;\n           \n           flow.set('currentWeightA1',k1+k2);\n           flow.set('currentWeightA2',k3+k4);\n           return k1+k2+k3+k4;\n           \n        }\n    \n}\nflow.set('p',p);\n\nflow.set('table',[]);\nflow.set('arrayOfWeights',[]);\nflow.set('lastWeight',0);\nflow.set('currentWeight',0);\nflow.set('currentWeightA1',0);\nflow.set('currentWeightA2',0);\nflow.set('lastUID','');\nflow.set('zero',false);\nflow.set('deltaWeight',250);\nflow.set('perimetrStatus',true);\nflow.set('stability',true);\nflow.set('arrayOfWeights',[]);\nflow.set('sizeOfArrayOfWeights',5);\nflow.set('inaccuracy',10);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":249,"y":94,"wires":[["84a05a6.ec585a8"]]},{"id":"84a05a6.ec585a8","type":"debug","z":"2b7b0654.14db0a","name":"","active":false,"console":"false","complete":"payload","x":428,"y":95,"wires":[]}]
