SmartScale/templates/ХКЗ3190-A9+
[{"id":"d483fff.0a4b1","type":"inject","z":"9e91dd1.bf5932","name":"init","topic":"","payload":"init","payloadType":"str","repeat":"","crontab":"","once":true,"x":90,"y":40,"wires":[["3649042d.7076ac"]]},{"id":"3649042d.7076ac","type":"function","z":"9e91dd1.bf5932","name":"init flow vars","func":"var p = {\n    'smartScaleURL':'http://10.1.132.171/preBI/hs/api/v1/weights?token=5af8e4eb-c54a-40ab-8755-b6e154d9a7d1&encoding=utf8',\n    'smartScaleMethod':'POST',\n    'organizationName':'Кононівська дільниця',\n    'organizationID':'08',\n    'typeOfScale':'IoT',\n    'source':'atom',\n    'scale':'kon_avto2',\n    'dblogin':'atom2',\n    'dbpassword':'123',\n    'log':1,\n    'socketport':'4001',\n    'ip':'10.3.15.132',\n    'inject':String.fromCharCode(2)+\"AB03\"+String.fromCharCode(3),\n    'parser':function(v){\n            return Number(v.substring(2,8));\n        }\n}\nflow.set('p',p);","outputs":1,"noerr":0,"x":230,"y":40,"wires":[["77783c96.0e29a4"]]},{"id":"77783c96.0e29a4","type":"debug","z":"9e91dd1.bf5932","name":"","active":false,"console":"false","complete":"payload","x":390,"y":40,"wires":[]}]
