scales/models/METLER_TOLEDO_8350/inject
[{"id":"6d8446a9.941508","type":"inject","z":"bb301330.e519d","name":"","topic":"","payload":"","payloadType":"str","repeat":"1","crontab":"","once":false,"x":85.5,"y":77,"wires":[["35c50657.d4cc7a"]]},{"id":"2e433894.352578","type":"serial out","z":"bb301330.e519d","name":"","serial":"b5ac8d57.fcf75","x":410,"y":80,"wires":[]},{"id":"35c50657.d4cc7a","type":"function","z":"bb301330.e519d","name":"CMD","func":"//var payload = '\\x002\\x062\\x125\\x102';\n\nmsg.payload = String.fromCharCode(2)+\"2UB\";\nreturn msg;","outputs":1,"noerr":0,"x":265.5,"y":76,"wires":[["2e433894.352578"]]},{"id":"b5ac8d57.fcf75","type":"serial-port","z":"bb301330.e519d","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\r","bin":"false","out":"char","addchar":true}]
