scales/DB/PSQL_api.flow
[{"id":"4002ede.e4ea114","type":"http in","z":"d4c40780.7a7408","name":"","url":"/selectweight","method":"get","swaggerDoc":"","x":160,"y":240,"wires":[["362149b.42624b6"]]},{"id":"2792c897.5780e8","type":"http in","z":"d4c40780.7a7408","name":"","url":"/select","method":"get","swaggerDoc":"","x":140,"y":280,"wires":[["dfabcb74.bbb918"]]},{"id":"2322f50f.7867fa","type":"http in","z":"d4c40780.7a7408","name":"","url":"/count","method":"get","swaggerDoc":"","x":140,"y":320,"wires":[["a8ad1c98.1a0e5"]]},{"id":"a8ad1c98.1a0e5","type":"template","z":"d4c40780.7a7408","name":"select count","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT \nCOUNT(*)\nFROM \n  public.scales;\n","x":370,"y":320,"wires":[["4b7798dc.0ebdb8"]]},{"id":"dfabcb74.bbb918","type":"template","z":"d4c40780.7a7408","name":"select top 1000","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT \n*\nFROM \n  public.scales\n  WHERE ID >=2895407 AND ID <= 2896053\n  AND scale = 'su_avto_80t'\nORDER BY\n  ID DESC\n LIMIT 1000\n  \n  ","x":380,"y":280,"wires":[["4b7798dc.0ebdb8"]]},{"id":"362149b.42624b6","type":"template","z":"d4c40780.7a7408","name":"select top 1000 weight<>0","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"SELECT \n*\nFROM \n  public.scales\n WHERE \n weight<>0\nORDER BY\n  ID DESC\n LIMIT 100\n \n  \n  ","x":420,"y":240,"wires":[["4b7798dc.0ebdb8"]]},{"id":"4b7798dc.0ebdb8","type":"postgres","z":"d4c40780.7a7408","postgresdb":"f5106504.939a58","name":"atom2/atom2","output":true,"outputs":1,"x":650,"y":260,"wires":[["e8316d08.91ac1"]]},{"id":"e8316d08.91ac1","type":"http response","z":"d4c40780.7a7408","name":"","x":790,"y":260,"wires":[]},{"id":"e3783a19.dcd2d8","type":"http response","z":"d4c40780.7a7408","name":"","x":571,"y":399,"wires":[]},{"id":"d4e14d7d.a33cd","type":"postgres","z":"d4c40780.7a7408","postgresdb":"f5106504.939a58","name":"atom2/atom2","output":true,"outputs":1,"x":431,"y":399,"wires":[["e3783a19.dcd2d8"]]},{"id":"8608ae8f.23dd2","type":"http in","z":"d4c40780.7a7408","name":"","url":"/drop","method":"get","swaggerDoc":"","x":131,"y":399,"wires":[["1ccefa08.2d2d16"]]},{"id":"1ccefa08.2d2d16","type":"template","z":"d4c40780.7a7408","name":"drop","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DROP TABLE public.scales;","x":291,"y":399,"wires":[["d4e14d7d.a33cd"]]},{"id":"f5106504.939a58","type":"postgresdb","z":"","hostname":"10.3.4.251","port":"5432","db":"atom2","ssl":false}]
